.hero-bg{
  position:absolute;
  inset:0;
  background:
    linear-gradient(
      90deg,
      rgba(5,13,23,.98) 0%,
      rgba(10,19,30,.82) 38%,
      rgba(10,19,30,.35) 70%,
      rgba(10,19,30,.12)
    ),
    url("images/photo.jpg") center/cover;
}

.production-photo{
  min-height:750px;
  background:url("images/production.png") center/cover;
}

.product-1 .card-image{
  background:
    linear-gradient(
      0deg,
      rgba(4,13,23,.9),
      rgba(4,13,23,.05)
    ),
    url("images/barrels.png") center/cover;
}

.product-2 .card-image{
  background:
    linear-gradient(
      0deg,
      rgba(4,13,23,.9),
      rgba(4,13,23,.05)
    ),
    url("images/bubble-wrap1.png") center/cover;
}

.product-3 .card-image{
  background:
    linear-gradient(
      0deg,
      rgba(4,13,23,.9),
      rgba(4,13,23,.05)
    ),
    url("images/equipment.png") center/cover;
}

.quality-photo{
  height:610px;
  background:url("images/warehouse.png") center/cover;
}
